<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Giftwrap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/stylesheets/giftwrap.css" rel="stylesheet">

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">

    <script>
      function timestampToDate(timestamp) {
        var d = Date(timestamp)
        var mo = d.getMonth()
        var da = d.getDay()
        return mo + "/" + da
      }
    </script>
  </head>
  <body>

    <section class="container">
      
      <div class="page-header">
        <h1>Giftwrap <small>Rewrap MKV (and others) to Apple TV format.</small></h1>
      </div>

      <div class="pull-right">
        <button type="button" class="btn" data-toggle="button" id="auto-refresh" title="Auto-refresh"><i class="icon-refresh"></i></button>

        <a 
          href="/settings" 
          data-target="#settingsModal" 
          role="button" 
          class="btn" 
          data-toggle="modal"
          data-backdrop="false"
          >
            <i class="icon-wrench"></i> Settings
        </a>
      </div>
      <br class="clearfix">
      <p>&nbsp;</p>

      <% if (queue.length == 0) { %>
        <div class="alert">
          Your queue is empty! You should move video files to the <code>./processing</code> folder to start processing.
        </div>
      <% } %>

      <% if (queue.length) { %>
        <table class="table table-striped table-bordered queue">
          <thead>
            <tr>
              <th>Filename</th>
              <th>Added</th>
              <th>Progress</th>
              <th>Processing Time</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <% queue.forEach(function (file) { %>
              <%
                var rowClass = ""
                if( file.status == "error") {
                  rowClass = "error"
                }
                if( file.status == "started") {
                  rowClass = "success"
                }

                var elapsedTime = 0
                if( file.processing_ended == 0 )
                  elapsedTime = file.processing_started
                else
                  elapsedTime = file.processing_ended - file.processing_started

                if( file.status == "started" )
                  elapsedTime = Date.now() - file.processing_started

                var progress = file.progress
                if( file.status == "finished" )
                  progress = "100"

                var labelClass = ""
                if( file.status == "finished" )
                  labelClass = "label-success"
                else if ( file.status == "error" )
                  labelClass = "label-error"
              %>
              <tr class="<%= rowClass %>">
                <td><%= file.file %></td>
                <td><time class="relative"><%= file.created_at %></time></td>
                <td>
                  <div class="progress">
                    <div class="bar bar-success" style="width: <%= progress %>%;"></div>
                  </div>
                </td>
                <td><time class="elapsed"><%= elapsedTime %></time></td>
                <td class="status"><span class="label <%= labelClass %>"><%= file.status %></span></td>
              </tr>
            <% }) %>
          </tbody>
        </table>
      <% } %>
      
    </section>

    <div class="modal hide fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="settingsModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Settings</h3>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary">Save changes</button>
      </div>
    </div>

    <footer>
      &copy; <a href="http://adr.enal.in/" target="_blank">adr.enal.in Groupe</a> &middot; <a href="http://github.com/adr-enal-in/giftwrap" target="_blank">Source code</a>
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/application.js"></script>

</body>
</html>



